h3 {
  /*color: rgba(255, 100, 100);
  border-color: purple;
  border-width: 5px;
  border-style: solid;*/

  border: 2px solid purple;
}
/*
li {
  color: blue;
}*/

body {
  background-image: url(http://wowslider.com/sliders/demo-85/data1/images/southtyrol350698.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}


