body {
  font-family: 'Montserrat', sans-serif;
}

.row {
  border: 16px lightgray solid;
  margin: 5px 20%; 
  padding: 20px;
}

.date {
  color: #4FF7F5;
  text-transform: uppercase;
}

img {
  width: 30%;
  /*float: left;*/
  margin: 1.66%;
}